html{
	scroll-behavior: smooth;
}



#name{
	text-shadow: 1px 1px 20px #222;
	
*{
	margin: 0; padding: 0; box-sizing: border-box;
	font-family: 'EB Garamond'; 
}

}

.header:before{
	
	position: relative;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	z-index: -1;
    opacity: 0.4;
}
.navbar:before{
	
	position: relative;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	z-index: -1;
    opacity: 0.1;
}
.nav-item a {
    color: white!important;
    font-weight: bold;
    margin-top: 0px;
}
body{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;

}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.nav-item a {
    color: white!important;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    border-color: #e9ecef8a;
}

.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#contact-section{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(https://c1.wallpaperflare.com/preview/749/210/528/business-paper-office-laptop.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	padding bottom: 2%;


}
#contact-section .container h2{
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
	color: rgb(238,235,235);
	letter-spacing: 2px;
	margin-top:  10rem;
	
}

#contact-section .container p{
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	margin-top: -2rem;
	color: #fff;
	letter-spacing: 3px;

}

.contact-form i.fa{
	font-size: 22px;
	padding: 3%;
	background-color: none;
	margin: 2%;
	border-radius: 80%;
	cursor: pointer;
	border: 2px solid rgb(190,190,190);
	color: rgb(190,190,190);
}
blockquote{
	display: block;
	position: relative;
	width: 60%;
	margin: 5rem auto;
	padding: .5rem;
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: white;
	transition: 0.4s ease;
}
blockquote::before{
	content: '\201c';
	top: 10px;
	left: -20px;
	font-size: 5rem;
}
.blockquote-text-credit{
	text-align: right!important;
}
blockquote:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);	
    transform: translateY(-20px);

}



.contact-form i.fa:hover{
	cursor: pointer;
	border: 2px solid #fff;
	color: #fff;
}
.contact-form{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10rem;
}
.icons{
	transition: 0.4s ease;
}
.icons:hover{
	transform: translateX(20px);
}
.form-info{
	font-size: 16px;
	font-style: italic;
	color: #fff;
	letter-spacing: 2px;
}
#form{
	transition: 0.4s ease;
}

#form:hover{
	transform: translateX(-20px);
}

input{
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border: none;
	outline: none;
}

input::placeholder{
	color: #fff;

}

textarea{
    padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border: none;
	outline: none;	
}

textarea::placeholder{
	color: #fff;
    
}
.submit{
	width: 40%;
	background: none;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	margin-left: 3%;
	border: 2px solid rgb(190,190,190);
	color: rgb(190,190,190);
}

.submit:hover{
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;

}
#myBtn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border: none;
	color: #fff;
	background: rgba(136,133,133,0.9) ;
	padding: 10px;
	border-radius: 10px;
}
#myBtn:hover{
	background:  rgba(136,133,133,0.9);
}

/* media queries */
@media (max-width: 768px){
	#contact-section .contact-form{
		display: block;
		width: 100%;
    	text-align: center;
    }

    #contact-section .submit{
    	width: 40%;
    	margin-right: 30px;
    }
    .icons{
    	text-align: left!important;
    	margin-left: 5rem;
    }
    
    blockquote{
    	width: 80%;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: rgba(136,133,133,0.9);
    background-color: rgba(136,133,133,0.9);
   }
}

@media (max-width: 575.98px) { 
	blockquote{
    	width: 100%;
    }
    .icons{
    	text-align: left!important;
    	margin-left: 1rem;
    }
}

@media (max-width: 991.98px) {
	 .navbar-dark .navbar-nav .nav-link {
    color: rgba(136,133,133,0.9);
    background-color: rgba(136,133,133,0.9);
   }

}



